RFC6536 中文翻译

# RFC6536 NETCONF访问控制模型
- [ ] 完成第一轮翻译
- [ ] 重新检查
- [ ] PA2 完成
## 摘要

在使用NETCONF的标准网络配置接口需要结构化的安全的操作环境，该操作环境可以促进用户使用和多设备商的互操作。这就需要一个标准的机制来使用一组对于NETCONF协议操作和内容的预配置的集合来限制NETCONF协议对于特定用户的访问。本文档定义了这样的一个访问控制模型。
## 1.介绍

NETCONF协议没有提供任何标准机制来限制用户需要授权来访问NETCONF协议的操作类型以及内容。

这就需要一个可以进行互操作管理的访问控制，管理员可以选择指定服务器上的一部分netconf内容来做访问控制.

本文档指出了对于NETCONF[ RFC6241 ]操作类型以及内容层的访问控制机制,本文包括来如下主要内容：
1. 访问控制设计的目标
2. NETCONF控制访问模型(NACM)
3. 对应的YANG数据模型(ietf-netconf-acm.yang)

RFC6241中定义的如下术语会继续使用，并没有进行重新定义：
- client
- datastore
- protocol operation
- server
- session
- user

RFC6020中定义的如下术语会继续使用，并没有重新定义：
- data node
- data definition statement

如下术语会在本文中使用：
access control : NETCONF服务器端提供的安全特性，该特性允许管理员来通过不同的条件来限制netconf协议的操作类型以及数据的访问。

access control model (ACM):一种用于配置和监控访问控功能的概念模型，以便管理员可以执行访问控制策略。

access control rule:一种条件，用于决定某种NETCONF协议操作被允许还是被拒绝。

access operation: 尝试访问概念对象的请求类型，请求类型是如下方式中的一种,”无”, ”读”, ”写”, ”删除”,”更新”,”执行”。

recovery session: 一种特殊的管理会话，该会话被赋予了没有限制的NETCONF访问,并且不被所有的访问控制所限制。netconf服务器上的实现该机制以及如何鉴别会话是否是recovery session是实现相关的，不再本文的讨论范围之内。

write access: 是”create”, “delete”, “update”访问操作的助记符。
## 2.访问控制的设计目标

本章描述了在第三章设计的NETCONF 访问控制模型的设计目标
### 2.1访问控制点

NETCONF协议允许在任何时候添加新的协议操作，并且数据模型语言YANG支持该特性。向其他协议一样，设计一种只是面向NETCONF固有协议的，而不是面向可扩展的协议操作是不可能的。因此没有关于任意的协议操作类型假定可以被确认下来，NETCONF协议的服务端组件框在概念上有三个控制点上需要被保护：

这三个服务访问点见图1，描述如下：
协议操作：调用指定的协议操作的授权
数据存储区：读或者写数据节点的授权
通知：接受特性类型通知事件的授权

客户端请求 —>协议操作是否被允许？－－－－－－－》数据节点访问是否被允许
                                                              数据存储区或者状态数据访问

事件 －－》是否允许通告？
### 2.2 简洁

主要的担心是复杂的ACM功能由于太复杂而不能被广泛的部署。我们需要的是能很容易做简单的事和做复杂事情的可能，而不是做任何事情都很难。
访问控制系统的配置应该越简单越好。简单的、通用的任务应该很容易配置，并且需要很少的经验和领域知识需要，复杂的任务可能需要额外的机制，该机制可能需要而外的经验。
一套简单的访问控制规则集合应该能够控制所有的NETCONF协议操作的调用，所有的数据存储区的访问以及所有的通告事件。
控制访问功能应该能够通过一组很小的、熟知的的权限，能够完全控制NETCONF数据存储区访问。
### 2.3 过程接口

NETCONF协议使用远程调用模型并使用可扩展的协议操作。对任意可能协议操作都要能够进行访问控制。
### 2.4 数据存储区访问

而无论是标准的还是专有的访问数据存储区的协议操作，在特定的数据存储区的特定的节点以及子树进行访问控制是必要的。
### 2.5 用户和群组

对单个用户或者经配置过的用户群组进行访问控制规则都是必要的。
为了更好的支持root账号以及其他的低权限的用户账号， ACM需要支持管理员群组概念。这些群组需要经过管理员进行配置。
有必要将用户和群组的映射授权给例如radius服务器那样的中心服务器。例如通过NETCONF传输层进行鉴权，通过RADIUS来同时进行鉴权和服务授权，下层NETCONF传输需要将该登陆用户以及所在群组信息上报给（RADIUS）服务器上。同时管理员能够禁止ACM中的某些群组。
### 2.6 维护

同时也可以提供禁止全部或者部分访问控制功能，而不用删除任何的访问控制规则。
### 2.7 配置能力

合适的配置和监控机制能够容易地允许管理员管理ACM行为的方方面面。一个标准ACM数据模型(data model)能够被<edit-config>操作操作。
对于特定配置datastore的子树的特定操作的访问控制功能是需要支持的。
### 2.8 标示安全敏感内容

在部署中，数据模型中一个最重要的方面和最大的考虑是标示RFC中的安全敏感区，不仅仅是模型对应的数据和通知，也包括NETCONF协议操作方面。
对于安全敏感对象的标记和记录到RFC的’Security Consideration’段落是必要的。这样做很好，但是还是不够好，这里就是原因：
- 文档化的方法使得管理员不得不研究RFC然后才能确定新的数据模型是否引入可能的安全风险
- 如果安全风险被识别出来，然后管理员需要研究更多的RFC文档然后才能清楚如何降低安全风险。
- 每一个server的ACM必须被配置以便于降低安全风险。例如，需要特权来访问对’Security Consideration’区域的指定的数据进行读写访问。
- 如果ACM没有被预配置，那么在新的模型被加载后，它的访问控制规则被配置前，就有这么久存在一个脆弱的时间窗口。

管理员经常需要禁止安全内容的缺省访问控制权限，那么疏忽和恶意改变就不会发生在server上，这就允许缺省规则需要更加宽容，而不需要增大安全风险。

数据模型的设计者需要能够使用机器可以识别的方式来标识需要保护的NETCONF内容。这就需要客户侧和服务器的相应地工具能够自动的识别数据模型中指定的安全风险 - 拒绝访问敏感数据数据，除非用户被授权能够执行被许可的访问操作
## 3 NETCONF 访问控制模型 (NACM)
### 3.1 介绍

 本段简要地概述了访问控制模型结构。不仅仅描述了NETCONF协议消息处理模型，并且描述了该处理模型的概念上访问控制需求。
### 3.1.1 特性

NACM数据模型提供了如下特性：
- 对于RPC、数据节点、通知消息的独立的控制功能
- 可以用于配制的易用的访问规则的数据模型
- 支持一种概念上的紧急恢复session，但是如何配置该功能超出了本文的范畴。紧急恢复session会绕过所有的访问控制规则，以便于能够初始化或者修复NACM配置。
- 简单的、熟知的datastore 权限
- 支持YANG安全标签(例如: nacm:default-deny-wite语句) 允许缺省安全模式能够自动的排除安全敏感数据。
- 对于读、写、执行权限的各自独立的缺省访问模式
- 访问控制规则可以应用到可以配置的群组的用户中。
- 访问控制执行过程能够被禁用，而不需要删除访问控制规则，以便于能够调试操作上的问题。
- 简单的易于配置的访问控制规则
- 客户侧能够访问被拒绝的协议操作的统计计数以及被拒绝的datastore写请求的统计计数
- 简单的未受限制的YANG实例标识符可以用于配置访问控制规则的指定数据节点路径
#### 3.1.2 外部依赖

NETCONF协议 [RFC6241]用于该文档中的所有管理操作使用。
YANG模型 [RFC6020] 用于定义本文档中的NETCONF数据模型。
#### 3.1.3 消息处理模型

下面的流程图描述了概念上消息处理流图，包括所有的NETONF消息处理的访问控制点

```
                    +-------------------------+
                    |       session           |
                    |      (username)         |
                    +-------------------------+
                       |                 ^
                       V                 |
             +--------------+     +---------------+
             |   message    |     |   message     |
             | dispatcher   |     |   generator   |
             +--------------+     +---------------+
                  |                  ^         ^
                  V                  |         |
         +===========+     +-------------+   +----------------+
         |   <rpc>   |---> | <rpc-reply> |   | <notification> |
         | acc. ctl  |     |  generator  |   |  generator     |
         +===========+     +-------------+   +----------------+
               |              ^    ^                ^
               V       +------+    |                |
         +-----------+ |   +=============+  +================+
         |   <rpc>   | |   |    read     |  | <notification> |
         | processor |-+   | data node   |  |  access ctl    |
         |           |     | acc. ctl    |  |                |
         +-----------+     +=============+  +================+
               |   |                  ^        ^
               V   +----------------+ |        |
         +===========+              | |        |
         |  write    |              | |        |
         | data node |              | |        |
         | acc. ctl  | -----------+ | |        |
         +===========+            | | |        |
               |                  | | |        |
               V                  V V |        |
         +---------------+      +-----------------+
         | configuration | ---> |     server      |
         |   datastore   |      | instrumentation |
         |               | <--- |                 |
         +---------------+      +-----------------+

                                 Figure 2
```

上述图例简要的描述了访问控制功能被开启后， 收到的rpc消息的处理步骤：
- 除非这个session被认为是recovery session，那么活跃session的访问控制都是独立地作用在所有的该server接受到的所有rpc消息(除了close-message消息)。
- 如果该登陆用户被授权能够执行执行某个协议操作，那么该处理过程将继续执行，否则，该协议操作请求将被拒绝，并返回’access-denied’错误。
- 如果配置数据库或者概念上的状态信息数据被协议操作访问，那么该server将检查该user是否被授权能够访问该datastore的数据节点。

当访问控制功能被开启后，接下来概念上的处理步骤是执行生成通知消息：
- 基础服务为了某个特定的订阅生成对应的通知消息。
- 通知访问控制执行单元检查通知消息类型，然后检查是否特定的用户没有被授权来读取该消息，如果没有，那么为该订阅者的通知消息将被丢弃。
### 3.2 访问Datastore

同样的访问控制规则也用于所有的datastore，比如candidate datastore或者running datastore.
只有标准的NETCONF datastores (candidate, running, startup) 能够被NACM控制。本地或者远程文件 或者是通过url参数来访问的datastore不被NACM控制。
#### 3.2.1 访问权限

仅有小集合的硬连接datastore访问权限能够所有可能的NETCONF协议操作，包括厂商扩展的操作集合。

“CRUDX”模型能够支持所有的NETCONF协议操作：
- Create: 允许客户侧添加新的数据节点的实例到datastore中
- Read: 允许客户侧从datastore中读取数据节点实例或者收到通知消息
- Update: 允许客户能够更新datastore中一个数据节点的实例
- Delete: 允许客户能够从datastore中删除一个数据节点实例
- eXec: 允许客户侧能够执行协议操作
#### 3.2.2 get和get-config操作

客户侧没有read权限访问的数据节点要显示的在rpc-reply中忽略掉。这样做是为了允许get 和get-config 消息中的NETCONF filter功能正常，而不是产生’access-denied’错误，是因为过滤条件可能包含对某些数据节点的未授权的读操作。

#### 3.2.3 edit-config操作
NACM访问权限虽然和edit-config操作的属性类似，但是他们并不直接耦合，而是一个NACM访问操作对所有的协议操作起作用，这样的访问操作
会导致一个对特定datastore的操作。本章描述了访问控制权限如何应用到被edit-config支持的访问操作。

 如果对特定的数据节点起作用的访问操作是none (例如,default-operation是none)，那么不对该节点进行访问控制操作。这样的行为是在访问大型数据节点中的子树访问的时候是需要的。例如，一个用户可能被授权创建一个新的"/interfaces/interface" list节点，但是没有被授权创建和删除它的父节点"/interfaces"，如果"/interfaces" container已经存在于目标datastore中，那么对于节点"/interface" 节点的访问控制设定为none, 如果一个"/interfaces/interface" list节点被编辑。

 如果一个协议操作会导致创建datastore中的一个数据节点，而该用户并没有对与该节点的创建权限，那么该协议操作被拒绝，并携带"access-denied"错误码。

 如果一个协议操作会导致删除datastore中的一个数据节点，而该用户并没有对该节点的删除权限，那么该协议操作将被拒绝，并携带"access-denied"错误码。

如果一个协议操作会导致修改datastore中的一个数据节点，而该用户并没有对该节点的修改权限，那么该协议操作将被拒绝，并携带"access-denied"错误码。

如果一个edit-config的‘merge’或‘replace’操作可能包括已经存在于datastore中但是不被更改的部分。例如，一个container或者list节点可能仅仅是为了表示存在，但是不会真正的改变响应的datastore节点。这些不被改变的数据节点将被server侧忽略掉，并且不会进行授权操作。

被限制访问的datastore节点信息绝不能暴露在reply的rpc-error中。



#### 3.2.4 copy-config操作
copy-config协议操作的访问控制需要被考虑因为管理员可能替换指定的整个datastore。
如果copy-config协议操作的源是running datastore，并且目标datastore是startup datastore，那么管理员仅需要有执行copy-configuration的权限，除此之外：
1. 如果copy-config的源是一个datastore，那么在copy-config的时候，在源datastore中那些没有权限（这里说的应该是读权限）的数据节点将会忽略掉。
2. 如果copy-config的目标是一个datastore，用户需要访问这些修改的节点，明确来说：
  - 如果该协议操作将会引发一个datastore的创建操作，而用户并没有该数据节点创建权限，那么该协议操作被拒绝，并以"access-denied"错误返回。
  - 如果该协议操作将会引发一个datastore的删除操作，而用户并没有该数据节点删除权限，那么该协议操作被拒绝，并以"access-denied"错误返回。
  - 如果该协议操作将会引发一个datastore的修改操作，而用户并没有该数据节点修改权限，那么该协议操作被拒绝，并以"access-denied"错误返回。

#### 3.2.5 delete-config操作
缺省情况下对delete-config协议操作的访问将被拒绝。叶子结点`exec-default`并不适用于该协议操作。访问控制规则必须明确的被配置来允许在非恢复回话中的调用。

#### 3.2.6 commit操作
服务端必须能明确知道running datastore 中确定的变化的数据节点，以及仅需要检查这些节点的create、update、delete权限。
例如，如果一个回话读取整个datastore但是仅仅修改了一个叶子结点，那么该回话仅仅编辑和提交该叶子结点

#### 3.2.7 discard-changes操作
客户侧仅需要获取能够执行discard-changes协议操作的权限。不需要datastore权限。

#### 3.2.8 kill-session操作
kill-session操作并不直接修改datastore。尽管如此，该操作会终止一个正在操作datastore的回话。
默认情况下，kill-session操作的访问是不允许的。叶子结点`exec-default`并不适用于协议操作。访问控制规则必须明确的被配置来允许在非恢复回话中的调用。

### 3.3 模型组件
本章定义与访问控制模型与关的概念组件。

#### 3.3.1 用户
一个用户是一个概念上的实体，TA被关联到被授权的访问控制与一个特定的回话。一个用户在服务器侧适用字符串来标识。
在`RFC6241`的描述中，用户名字符串来自于在会话建立阶段的传输层。如果一个传输层不能鉴权一个用户，那么该会话被终结。

### 3.3 模型组件
本章定义与访问控制模型与关的概念组件。

#### 3.3.1 用户
一个用户是一个概念上的实体，TA被关联到被授权的访问控制与一个特定的回话。一个用户在服务器侧适用字符串来标识。
在`RFC6241`的描述中，用户名字符串来自于在会话建立阶段的传输层。如果一个传输层不能鉴权一个用户，那么该会话被终结。

### 3.3.2 群组
在一个回话中，对指定的NETCONF协议操作的访问被授权时基于群组的，而不是基于用户名的。
群组用名字来标识。所有的群组名字在服务内是唯一的。
群组成员适用用户名来标识。
同一个用户可以在多个不同的群组内。

#### 3.3.3 紧急恢复回话
服务器可以（MAY）支持恢复回话机制，在该机制下，所有的访问控制执行都将被屏蔽。该功能有益于初始访问权限和恢复损坏的访问控制功能。

#### 3.3.4 全局控制功能
有五个全局控制开关，这些控制开关有助于控制访问功能功能的执行。

##### 3.3.4.1 `enable-nacm`开关
全局`enable-nacm` 开关可以开启和关闭所有访问控制功能，当该开关被开启后(`true`)，那么所有的操作请求都将依赖这些访问控制规则来执行，并且仅当该操作请求被允许后才授权。当该全局开关关闭后(`false`)，所有的访问操作被允许。

##### 3.3.4.2 `read-default`开关
缺省读开关可以开启和关闭在接收reply中数据和notification中的默认访问权限。当该功能开启后，该开关该如下情况有关， 当没有找到可以明确的拒绝或者允许某一数据节点的读操作或者notification事件类型后的处理。

当该全局开关设置为`permit`时，没有找到对于read操作或者notification事件的访问控制规则，那么该访问将被允许。
当该全局开关设置为`deny`时，没有找到对于read操作或者notification事件的访问控制规则，那么该访问将被拒绝。

##### 3.3.4.3 `write-default`开关
缺省写开关可以开启和关闭在修改配置数据节点默认访问权限。当该功能开启后，该开关该如下情况有关 - 当没有找到可以明确的拒绝对该数据库写操作规则后的处理。

当该全局开关设置为`permit`时，没有找到对于该数据节点的写操作访问规则，那么该访问将被允许。
当该全局开关设置为`deny`时，没有找到对于该数据节点的写操作访问规则，那么该访问将被拒绝。

##### 3.3.4.4 `exec-default`开关
缺省执行开关可以开启和关闭在修改配置数据节点默认访问权限。当该功能开启后，该开关该如下情况有关 - 当没有找到可以明确拒绝或允许特定协议操作的规则

当该全局开关设置为`permit`时，没有找到对于该特定协议操作访问规则，那么该访问将被允许。
当该全局开关设置为`deny`时，没有找到对于特定协议操作作访问规则，那么该访问将被拒绝。

##### 3.3.4.5 `enable-eternal-groups` 开关
当该开关设置为true时，对于该会话的netconf传输层携带的群组信息将与本地群组配置新配合使用，来决定该会话的访问控制权限。
当该开关设置为false时，netconf传输层携带的群组信息将被NACM忽略。

#### 3.3.5 访问控制规则
NACM中有四种类型的访问控制规则：
 - module rule (模块规则) : 对于yang模型的访问规则，用YANG模型的名字作为标志。
 - protocol operation rule (协议操作规则) : 对于特定的协议操作的访问规则，用YANG模型名称和协议操作的名字来标识。
 - data node rule （数据节点规则） ： 对于指定的数据节点的访问规则，用该节点的XPATH来标识。
 - notification rule （通知消息规则） ： 对于指定的通知消息的访问控制，用YANG模型名字和notification名字来标识。

 


move it to wiki