云计算和大数据时代的网络技术 - 第五章 可靠网络通道 读书笔记

# 可靠的网络通路

在云平台上，网络流量仍然需要进行按照优先级处理，因为云中的主机提供的是不同类型的服务，这些服务有着对网络不通的服务质量的要求。  
云中的网络仍然按照传统网络中的流量识别、流量标记、流量处理三个步骤来提供不通类型的流量的服务质量。

## 1.流量识别  
QoS中流量的识别仍然按照传统的网络流量来识别：  

- 物理层：物理端口、子接口、PVC等
- 数据链路层： mac地址、CoS域、MPLS TC域
- 网络层：IP地址、DSCP值、IP Precedence
- 传输层：TCP/UDP端口号。
- 会话层：上层协议的特定标记，例如URL地址 

由于云中的主机大部分提供的服务都是基于HTTP的，那么仅通过80端口来识别流量是远远不够的，要使用深度报文解析的功能来做进一步的处理，例如cisco的NBAR(Network Based Application Recognition)。  


## 2.流量标记
被识别出来的报文需要携带特定的标记来在网络中传输，这样后续的网络设备才能按照正确的行为处理该报文。
### 2.1 二层标记  
二层报文的标记是基于CoS (Class of Service)的，是基于IEEE P802.1p标准，一种在二层报文中进行流量标记的方法。IEEE在以太数据帧中预留了一个三位的标识位。称为PCP (Priority Code Point)，PCP能表达8个等级的优先级别。二层标记的等级不够，大部分还需要三层报文来做标记。而且mac地址和三层报文的ip地址关联性本身也不强。  

### 2.2三层标记 
现在三层（IP）协议使用DSCP作为标记的方法。DSCP使用了不同于IP Precedence的定义方法，但是兼容IP Precedence。DSCP可以预设四种等级:EF、AF、Class Selector、 Default。    
DSCP (`RFC 2747` - Differentiated Service Code Point - 区分服务编码点)标志位一共有8位。后两位预留，6个比特可以表达64个优先级，这个比IPPrecedence有了长足的进步。但是RFC2747并没有定义具体的优先级的内容。  
而`RFC2597`基于DSCP定义了AF (Assured Forwarding -确保转发)，AF使用的DSCP的最高三位中组合出来的的0-3来代表AF1-AF4（数字越大，越能确保转发），而其余的DSCP三位数字代表着丢弃优先级，数字越大丢弃机率越大。
例如：  
AF11代表着001010的DSCP值。AF12代表则001100，AF12对应的报文被丢弃的机率大于AF11.  
AF41代表着100010的DSCP值。AF41的报文有着比AF11更不容易丢弃。 

`RFC2598`定义了EF (Expedited Forwarding - 加速转发）EF的值为 46 （101110）,EF优先于AF。在网络发生拥塞时，EF的优先级比AF更高，EF适合于实施点播、VOIP等实时业务。

Class Selector用于兼容早期的IP Precedence。该分类器一般形式为xxx000。当一个不支持DSCP的设备发出IP包时，也能够采用Class Selector方式处理。

Default是DSCP的默认形式，为全0，一般标记为Best Effort.

## 3.流量处理
流量处理和传统的路由器相比没有什么区别，基本上还是使用队列机制、流量整型的手段。
其中AF的流量不能超过整体流量的1/3，EF不能够超过2/3，这样才能保证低优先级的流量的通行。  


  http://bbs.vlan5.com/thread-8007-1-1.html

http://support.huawei.com/huaweiconnect/enterprise/thread-300765.html
